* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  color: white;
  font-family: Arial, sans-serif;
}

.background-glow {
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at top left, rgba(255, 0, 120, 0.25), transparent 40%),
    radial-gradient(circle at bottom right, rgba(0, 170, 255, 0.18), transparent 40%);
  z-index: -1;
}

#main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 1100px;
  height: 680px;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -40%) scale(0.52);
  transform-origin: center center;
}

/* Mobile */
@media screen and (max-width: 768px) {
  #canvas {
    transform: translate(-50%, -40%) scale(0.38);
  }
}

#text {
  width: 180px;
  left: 20px;
  top: 145px;
  position: absolute;
  z-index: 5;
}

#code {
  display: none;
  color: rgb(210, 255, 255);

  line-height: 20px;
  font-size: 12px;
  font-weight: bold;

  text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

#clock-box {
  position: absolute;
  width: 250px;
  left: 40px;
  bottom: 80px;

  font-size: 18px;
  line-height: 30px;

  display: none;
  z-index: 5;
}

#clock {
  margin-left: 10px;
}

#clock .digit {
  font-size: 18px;
}

.photo {
  position: absolute;
  width: 95px;
  height: 95px;
  border-radius: 22px;
  overflow: hidden;
  z-index: 5;

  padding: 2px;

  background: linear-gradient(270deg,
      red, orange, yellow, lime, cyan, blue, violet, red);
  background-size: 400% 400%;
  transform: none;

  animation: float 4s ease-in-out infinite,
    rgbGlow 6s linear infinite;

  backdrop-filter: blur(5px);
}

.photo.active {
  animation: float 4s ease-in-out infinite,
             rgbGlow 3s linear infinite,
             pulseGlow 1.2s ease-in-out infinite;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 20px;
  /* slightly smaller than parent */
}

.photo-left {
  left: 15px;
  top: 45px;
}

.photo-right {
  right: 15px;
  top: 45px;
}

.say {
  margin-left: 5px;
}

.hand {
  cursor: pointer;
}

@keyframes pulseGlow {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }

  50% {
    transform: scale(1.03);
    filter: brightness(1.4);
  }

  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

@keyframes rgbGlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}